/* normal */
@font-face {
  font-family: 'PixelMplus12';
  src: url('./PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
}
/* Bold */
@font-face {
  font-family: 'PixelMplus12';
  src: url('./PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PixelMplus12', sans-serif;
  height: 100%;
}
body > #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-pixel {
    font-family: 'PixelMplus12', sans-serif;
  }
}
