/* normal */
@font-face {
  font-family: 'PixelMplus12';
  src: url('./PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
}
/* Bold */
@font-face {
  font-family: 'PixelMplus12';
  src: url('./PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PixelMplus12', sans-serif;
  height: 100%;
}
body > #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.codeMarker {
  background: #320;
  position: absolute;
  z-index: 20;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-pixel {
    font-family: 'PixelMplus12', sans-serif;
  }
  .mdx-styles {
    font-family: sans-serif;
    overflow-y: scroll;
    line-height: 32px;
  }
  .mdx-styles > h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .mdx-styles > h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 8px;
  }
  .mdx-styles > ul > li {
    list-style: inside;
    list-style-type: disc;
    padding-left: 12px;
  }
  .mdx-styles > ol > li {
    list-style: inside;
    list-style-type: decimal;
    padding-left: 14px;
  }
  .mdx-styles code:not(.mdx-styles > pre > code) {
    color: orange;
    background-color: #282c34;
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
  }
  .mdx-styles > pre {
    padding: 20px;
    background-color: #282c34;
    border-radius: 6px;
    margin: 12px 0;
    line-height: 24px;
  }
  .mdx-styles > hr {
    margin: 20px 0;
  }
}
